article figcaption h4 {
    font-size: 1rem;
}

article figcaption p {
    font-size: 1rem;
    font-style: italic;
}

header.home h1 {
    font-family: "Almendra";
    position: absolute;
    bottom: 2rem;
    width: 100%;
    left: 0;
    right: 0;

}

td, th {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
th {
    border-top: 1px solid #000;
}
td:first-child,
th:first-child {
    border-left: 1px solid #000;
}

/* to futz with later...

article figure {
    background-color: #fff;
    margin: 0;
    padding: 1.5rem;
    border: 3px dashed #603;
}
@media only screen and (min-width: 1400px) {
    article figure {
        border: 3px dashed #603;
        padding: 2rem;
        margin-left: -40px;
    }
}

article .gallery {
    display: flex;
    background-color: #fff;
    border: 3px dashed #603;
    margin: 0;
    padding: 1.5rem;
}
article .gallery figure {
    border: none;
    background: transparent;
    margin: 0;
    padding: 1rem;
}
*/
